@use '../../scss/Variables' as *;
@use '../../scss/Mixins' as *;
@use '../../scss/ClassNames' as *;

.testimonials {
  .content_col {
    gap: 2rem;
    background-color: #ffff;
    color: $third_color;
    padding: 1rem;
    border-radius: 0.2rem;
    margin: 0;
    figure {
      width: 5rem;
      height: 5rem;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: $primary_color;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: $primary_color;
  }
}
